.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todo-form {
  border: 1px solid lightsteelblue;
  margin: auto;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.left {
  float: left;
}

.right-margin {
  margin-right: 15px;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.paper {
  width: 30%;
  margin-top: 5%;
  display: inline-flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.avatar {
  margin: 10px;
  background: floralwhite;
}

.form {
  width: 100%;
  margin-top: 30px;
}

.submit {
  margin-top: 20px;
}
